/* styling navbar */
#navdiv {
  display: flex;
  width: 17%;
  margin-left: 82%;
  justify-content: space-around;
  margin-top: 1%;
  height: 35px;
}

#googleimg {
  margin-top: 100px;
  margin-bottom: 10px;
}

/* removing underline from links */
a{
  margin-top: 8px;
  color: black;
  text-decoration: none;
}

/* size and border of search bar */
#maindiv {
  width: 35%;
  border-radius: 24px;
  display: flex;
  height: 40px;
  border: 1px solid #dfe1e5;
  margin-left: auto;
  margin-right: auto;
}

/* #searchimg {
    height: 10px;
    width: 10px;
} */
span img {
  margin: 5%;
  height: 23px;
}

#inputspan {
  width: 80%;
}
span {
  vertical-align: top;
}
span:first-child {
  width: 10%;
  border-radius: 50px;
  margin-top: 7px;
}
span:last-child {
  width: 10%;
  border-radius: 50px;
  margin-top: 4px;
}

input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0px;
  outline: none;
}

section {
  display: flex;
  width: 23%;
  justify-content: space-around;
  margin: 2% auto;
}

button {
  border-radius: 3px;
  height: 100%;
  padding: 5px 16px;
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid #f8f9fa;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  border: 1px solid lightgray;
}


#center {
  padding: 8% 0;
  text-align: center;
}

#gimg {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: absolute;
  left: 800px;
  bottom: 370px;
  white-space: nowrap;
}